body {
	color: $flat-white;
  font-family: 'DM Serif Text', sans-serif;
  font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Text', sans-serif;
}

a {
  color: $light-blue-2;
  &:hover {
    color: $flat-red;
  }
}

#title {
  font-family: 'Special Elite', sans-serif;
  font-size: 300%;
  a {
    text-decoration: none;
    color: #FFF;
  }
}

footer {
  color: $flat-white;
  font-size: 95%;
  a {
    color: $light-grey-2;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}
